
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
/*Colors
#BD0004
#1e1e1e
#00A210


*/



html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.logo-viajes{
  width: 100%;
  height: 100px;
  color: #1e1e1e;
  margin-top: 30px;
}
.text-color{
  color: #BD0004 !important;
}

.text-verde{
  color: #00A210 !important;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar-brand{
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  color: #175C00;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover {
  font-weight: 500;
  color: #BD0004;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  text-decoration: none !important;
}



h1, h2, h3, h4, h5, h6 {
  color: #1e1e1e;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}

img {
  width: 100%;
  overflow: hidden;
}

::selection {
  background: #00A210;
  color: #fff;
}

::-moz-selection {
  background: #00A210;
  color: #fff;
}

.section {
  margin-top: 10px;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading a {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 25px;
  text-align: justify;
}

.section-heading h2 em {
  font-style: normal;
  color:  #00A210;
}

.section-heading h6 {
  color: #BD0004;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section-heading .text-parrafo {
  color: #1e1e1e;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.section-heading i {
  display: flexbox;
  background-color: #00A210; 
  color: #fff; 
  border-radius: 50%;
  padding: 9px; 
}

.icon-text-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.icon-text-container i {
  font-size: 24px; /* Ajusta el tamaño del icono según sea necesario */
}

.icon-text-container b {
  margin: 0 10px; /* Ajusta el espacio alrededor del texto según sea necesario */
}




.icon-button a {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  padding: 0px 30px 0px 0px;
  border-radius: 25px;
  transition: all .3s;
}

.icon-button a i {
  background-color: #BD0004;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  display: inline-block;
  margin-right: 15px;
  margin-left: -1px;
}

.icon-button a:hover {
  color: #BD0004;
}

.icon-button a:hover i {
  color: #fff;
}




@-webkit-keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background:#BD0004;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #f35525;
  border-radius: 50%;
}




/* Banner*/

.category {
  background-color: #fff;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 6px 15px;
  display: inline-block;
  margin-bottom: 0px;
}

.category em {
  font-style: normal;
  color: #BD0004;
}

.carousel-caption.text-left {
  left: 10%; 
  right: auto;
}

.quienes-somos {
  background-color: #fafafa;
  padding: 100px;
}

.quienes-somos .icon-button {
  margin-top: 30px;
}

.destacados {
  background-color: #e7e6e6;
  padding: 100px;
}

.card-text{
font-weight: 400;
font-size: large;
text-align:center;
line-height: 1.3;
}

/* Contacto*/

.contact {
  background-image: url(../images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.contact .section-heading h2 {
  color: #fff;
}

.contact-content {
  position: relative;
  z-index: 1;
}

.contact-content {
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  background-color: #fff;
}





/* Footer */

footer.footer-no-gap {
  margin-top: 0px;
}

footer {
  margin-top: 150px;
  background-color: #175C00;
  min-height: 100px;
}

footer p {
  text-align: center;
  line-height: 100px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.contact-page #map {
  margin-top: 100px;
}

.contact-page .section-heading {
  margin-bottom: 40px;
  margin-right: 280px;
}

.contact-page p {
  margin-bottom: 50px;
}

.contact-page .item {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  background-color: #fff;
  display: inline-block;
  min-width: 360px;
}

.contact-page .phone {
  margin-bottom: 30px;
}

.contact-page .item img {
  float: left;
  margin-right: 25px;
  vertical-align: middle;
}

.contact-page .item h6 {
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
}

.contact-page .item h6 span {
  font-size: 15px;
  color: #aaaaaa;
  font-weight: 400;
}

.contact-page #contact-form {
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  background-color: #fff;
}

.contact-page #contact-form label {
  font-size: 15px;
  color: #3a3a3a;
  margin-bottom: 15px;
}

.contact-page #contact-form input {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 30px;
  font-size: 14px;
  padding: 0px 15px;
}

.contact-page #contact-form textarea {
  width: 100%;
  height: 150px;
  max-height: 180px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 40px;
  font-size: 14px;
  padding: 15px 15px;
}

.btn.btn-viajes {
  background-color: #00A210;
  color: #fff;
}

.btn.btn-cerrar {
  background-color: #00A210;
  color: #fff;
}

.btn.btn-cerrar:hover {
  background-color: #BD0004;
  color: #fff;
}

.btn.btn-viajes:hover {
  background-color: #BD0004;
  color: #fff;
}

body {
  overflow-x: hidden;
  padding-top: 56px;
}

@media (max-width: 767px) {
  .header-area .main-nav .logo h1 {
    line-height: 80px !important;
  }

@media (max-width: 992px) {
  .sub-header {
    display: none;
  }
  .header-area .main-nav .logo h1 {
    line-height: 100px;
  }
  .background-header .main-nav .logo h1 {
    line-height: 80px;
  }
  .header-area .main-nav .nav li a {
    padding-left: 3px;
    padding-right: 3px;
  }
  .header-area .main-nav .nav li:last-child a {
    padding-right: 15px;
  }
  .main-banner .item h2 {
    width: 100%;
  }
  .featured .section-heading {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 100px;
  }
  .featured .accordion {
    margin-left: 0px;
    margin-right: 0px;
  }
  .featured .info-table {
    margin-top: 45px;
  }
  .fun-facts .counter {
    margin-bottom: 45px;
  }
  .properties .item h6 {
    text-align: center;
    margin-bottom: 15px;
  }
  .properties .item .main-button {
    text-align: center;
  }
  .properties .item ul li {
    margin-right: 10px;
    font-size: 13px;
  }

  .single-property .info-table {
    margin-left: 0px;
    margin-top: 45px;
  }
  .contact-page .section-heading {
    margin-right: 0px !important;
  }
  .contact-page #contact-form {
    margin-left: 0px;
    margin-top: 60px;
  }

  .social-icons {
    display: inline-block; 
  }
  
  .social-icons i {
    margin-right: 30px; 
  }

@media (max-width: 768px) {
  .quienes-somos {
    display: none;
  }
  .contact-page .section-heading {
    margin-right: 100px;
  }
}

@media (max-width: 767px) {
  .navbar-toggler {
    margin-right: 30px; 
  }
}